html {
  overflow-x: hidden;
  overflow-y: scroll;
}

input {
  background-color: #f3f3f3 !important;
}

.table-bordered td,
.table-bordered th {
  white-space: nowrap;
}

.nav-link {
  color: #fff !important;
}
